* {
    box-sizing: border-box;

    &:before,
    &:after {
        box-sizing: border-box;
    }
}

html {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
	font-family: 'PFSquareSansPro', Arial, Helvetica, sans-serif;
    line-height: 1.2;
    overflow-x: hidden;
    position: relative;
    min-width: 320px;
}

.sec__decor {

    &:before {
        transition: 1s ease;
    }

    &:after {
        transition: 0.8s ease;
    }

    &_hide {

        &:before,
        &:after {
            transform: skew(0) rotate(0) !important;
            width: 0 !important;
        }
    }
}