* {
    box-sizing: border-box;

    &:before,
    &:after {
        box-sizing: border-box;
    }
}

html {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
	font-family: 'PFSquareSansPro', Arial, Helvetica, sans-serif;
    line-height: 1.2;
    overflow-x: hidden;
    position: relative;
    min-width: 320px;
}