$trans: all 0.3s ease;

$content-max-width: 1300px;

$container-side-padding-pc: 30px;
$container-side-padding-tablet: 18px;

$input-font-size-pc: 25px;
$input-font-size-tablet: 14px;
$input-font-size-mobile: 15px;

$btn-height-pc: 94px;
$btn-height-tablet: 64px;
$btn-height-mobile: 50px;

$btn-font-size-pc: $input-font-size-pc;
$btn-font-size-tablet: $input-font-size-tablet;
$btn-font-size-mobile: $input-font-size-mobile;

$sec-blue-bg: #1b2f76;
$btn-main-bg: white;
$footer-bg: #2b2a28;
$footer-text: #8e8e8e;
$main-blue: #293482;
$main-gray: #6f6f6f;
$blue-bg: #eaf0f2;
$decor-cyan: #53c4ca;
$decor-blue: #293482;
$decor-light-blue: #0277bd;