mixin icon-download(iconclass)
    span(class=iconclass).icon-download
        span.icon-download__inner

mixin icon-lines(iconclass)
    span(class=iconclass).icon-lines
        span.icon-lines__inner