section.sec.sec10
    div.container
        div.sec10__row
            div.sec10__col.sec10__col_border.color-white
                p.s.mb2.
                    Готовы открыть бизнес, которому не страшны кризисы и сезонность?
                div.sec10__border
                    +icon-lines("sec10__icon-lines sec10__icon-lines_border")
                    p.xl.medium.
                        Станьте владельцем цифровой стоматологии и заработайте 600 000 рублей
                    p.s.
                        уже в первый месяц после открытия
                +icon-lines("sec10__icon-lines sec10__icon-lines_bottom")
            div.sec10__col.sec10__col_form
                include bottom-form
    div.sec__decor.sec10__decor
    +icon-lines("sec10__icon-lines sec10__icon-lines_top")