section.sec.sec2
    div.container
        div.sec2__row
            div.sec2__col.sec2__col_left
                p.xl.medium.mb0.
                    Белоснежная улыбка
                p.xs.mb2.
                    визитная карточка современного человека
                p.xs.color-gray.
                    Мода на голливудскую улыбку и повышение качества стоматологических услуг в России увеличивает <span class="color-black medium">динамику развития отрасли:</span>
            div.sec2__col
                img(src="img/sec2-img.jpg", alt="").sec2__img
    div.sec2__bottom
        div.sec2__decor-mobile
        +icon-lines("sec2__icon-lines")
        div.container.ta-center
            div.sec2__bottom-row
                div.sec2__bottom-col
                    img(src="img/sec2-icon1.png", alt="").sec2__bottom-img
                    p.xs.mb0.
                        Стоимостной объем рынка стоматологии в 2011–2015 гг. увеличился на 77,6 %, и достиг 379 млрд. руб.
                div.sec2__bottom-col
                    img(src="img/sec2-icon2.png", alt="").sec2__bottom-img
                    p.xs.mb0.
                        А в 2016 году общее количество приёмов у стоматологов России достигнет отметки в 220,9 млн.
    div.sec2__decor