section.sec.sec3
    div.container
        div.sec3__row
            div.sec3__col
                div.sec3__circle
                    div.sec3__circle-wrap
                        img(src="img/sec3-img1.jpg", alt="").sec3__circle-img.sec3__circle-img_big
                        img(src="img/sec3-img2.jpg", alt="").sec3__circle-img.sec3__circle-img_small
                        +icon-lines("sec3__icon-lines")
            div.sec3__col.sec3__col_text
                p.s.mb1.
                    Каждый год открываются десятки стоматологий.
                p.l.medium.sec3__title.
                    Но успешными становятся лишь те, что делают упор на технологии и сервис
                button.btn-round.btn-round_blue.js-small-btn
                    |Скачать презентацию
                    +icon-download("icon-download_white")
    div.sec3__decor
