section.sec.sec4
    div.sec4__top
        div.container.color-white
            div.sec4__top-content
                p.m.medium.
                    Новаторская сеть клиник «Мега Дент»
                p.s.mb0.
                    задаёт планку качества стоматологических услуг с 2007 года
    div.sec4__bottom
        div.container
            div.sec4__bottom-row
                div.sec4__bottom-col
                    p.s.sec4__bottom-text.
                        <span class="medium">Наша сеть состоит</span> из четырёх филиалов, зуботехнической лаборатории и торгового дома.
                div.sec4__bottom-col
                    button.btn-round.btn-round_blue.js-small-btn.sec4__bottom-btn
                        |Скачать презентацию
                        +icon-download("icon-download_white")
    div.sec4__decor
    +icon-lines("sec4__bottom-icon-lines")
    +icon-lines("sec4__icon-lines")

