section.sec.sec6
    div.container.color-white.ta-center
        p.xl.medium.mb0.
            В 2017 году мы откроем ещё 15 филиалов по России
        p.s.mb0.
            – станьте хозяином клиники «Мега-Дент» в вашем городе!
