section.sec.sec8
    div.container.color-white
        div.sec8__row
            div.sec8__col
                p.s.sec8__subtitle.
                    Бизнес-модель нашей компании доказала свою эффективность уже в четырёх филиалах
                p.xl.medium.sec8__title.
                    У вас всё получится!
            div.sec8__col
                p.xs.ff-geometria.sec8__text.
                    Сохранить полный состав франшизы в формате презентации
                button.btn-round.js-small-btn
                    |Скачать презентацию
                    +icon-download
        +icon-lines("sec8__icon-lines")
        +icon-lines("sec8__icon-lines-mobile")
        div.sec8__decor