section.sec.sec9
    div.container
        div.sec9__heading
            p.xl
                |Для открытия стоматологической клиники под брендом «Мега-Дент» вам потребуется 
                span.medium.
                    1 млн рублей паушального взноса
            p.xl.color-light-blue.medium.
                и от 20 млн рублей на:
        div.sec9__row
            div.sec9__col.sec9__col_form
                div.sec9__col-form
                    div.sec9__list
                        div.sec9__list-item.
                            Подготовку помещения
                        div.sec9__list-item.
                            Оборудование и материалы
                        div.sec9__list-item.
                            Рекламу
                    div.sec9__images
                        img(src="img/sec9-img1.jpg", alt="").sec9__img.sec9__img_top
                        img(src="img/sec9-img2.jpg", alt="").sec9__img.sec9__img_bottom
                    p.s.mb1.ta-center.sec9__btn-title.
                        Скачать таблицу затрат и доходов
                    button.btn-round.btn-round_blue.js-small-btn.sec9__bottom-btn
                        |Скачать таблицу
                        +icon-download("icon-download_white")
            div.sec9__col.sec9__col_photo
                img(src="img/sec9-img1.jpg", alt="").sec9__img.sec9__img_top
                img(src="img/sec9-img2.jpg", alt="").sec9__img.sec9__img_bottom
    div.sec__decor.sec9__decor.sec9__decor_1
    div.sec__decor.sec9__decor.sec9__decor_2