doctype html

- var title = 'Project title';
- var phone = "+7 (3452) 75-25-25";
- var attrPhone = "83452752525";

block vars
    
html
    head
        meta(charset="utf-8")
        meta(name="description", content="")
        meta(name="viewport", content="width=device-width, initial-scale=1, minimal-ui")
        title #{title}
        link(rel="icon" type="image/png" href="img/favicon.png" sizes="16x16")
        link(rel="stylesheet", href="styles/vendor.css")
        link(rel="stylesheet", href="styles/main.css")
        block scripts
    body
        include ../components/mixins
        block content
        include ../components/footer
        script(src="scripts/vendor.js")
        script(src="scripts/app.js")
        // Yandex.Metrika counter
        script(type="text/javascript").
            (function (d, w, c) {
                (w[c] = w[c] || []).push(function() {
                    try {
                        w.yaCounter45430077 = new Ya.Metrika({
                            id:45430077,
                            clickmap:true,
                            trackLinks:true,
                            accurateTrackBounce:true,
                            webvisor:true
                        });
                    } catch(e) { }
                });

                var n = d.getElementsByTagName("script")[0],
                    s = d.createElement("script"),
                    f = function () { n.parentNode.insertBefore(s, n); };
                s.type = "text/javascript";
                s.async = true;
                s.src = "https://mc.yandex.ru/metrika/watch.js";

                if (w.opera == "[object Opera]") {
                    d.addEventListener("DOMContentLoaded", f, false);
                } else { f(); }
            })(document, window, "yandex_metrika_callbacks");
        </script>
        <noscript><div><img src="https://mc.yandex.ru/watch/45430077" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
        // /Yandex.Metrika counter